*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* --------------------------------------  NAVBAR code --------------------------------*/
.navbar{

    width: 100%;
    height: 60px;
    display: flex;
    flex-direction: row;
    background-color: rgb(37, 37, 37);
    z-index: 999;
    position: sticky;

}

.navbar-right{
    width:48%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    
}

.navbar-right ul li{
    display: inline-block;
    list-style: none;
    
}

.navbar-right ul li a{
    padding: 10px;
    text-decoration: none;
    color: rgb(245, 245, 245);
    font-weight: 500;
}

.navbar-right a:hover{
    background-color: aliceblue;
    color: rgb(14, 14, 14);
    border-radius: 9px;
}

.navbar-left{
    width:50%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding-left: 30px;
}

.navbar-left img{
    width: 27%;
    
}


/* ------------------------------------------------------------------------------------------ */

.account-cont{
    width: 100%;
    height: 82vh;
    display: grid;
    grid-template-columns: 33% 34% 33%;
    grid-template-rows: 20% 30% 30% 30%;
    background-color: #252525;
}

.acc-sidebar{
    grid-column: 1/2;
    grid-row: 1/5;
    background-color: #131313;
    
}

.sidebar{
    width: 100%;
    height: 100%;
}

.acc-box{
    grid-column: 2/4;
    grid-row: 1/5;
    background-color: #f1f1f1;
    background-image: url('img/account.jpg');
    background-repeat: no-repeat;
    background-size: 1100px;
}
.box{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap :40px;
}
.account-heading{
    
    width:500px;
    text-align: center;
    background-color: rgb(39, 39, 39);
}
.account-heading h1{
    
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: white;
}

.footer{
    
    grid-column: 2/4;
    grid-row: 4/5;
    text-align: center;
    display: flex;
    flex-direction: row;
    gap: 30px;
}
.footer a{

    text-decoration: none;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: rgb(49, 68, 77);
    background-color: rgb(212, 212, 212);
    border-radius: 10px;
    padding: 13px 30px;
}

.footer a:hover{
    
    color: rgb(255, 255, 255);
    background-color: rgb(46, 46, 46);
    border-radius: 10px;
    padding: 13px 30px;
    box-shadow: 0px 4px 4px black;
}

.admin{
    text-align: center;
    
}

.admin a{
    text-decoration: none;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: rgb(255, 255, 255);
    background-color: rgb(46, 46, 46);
    border-radius: 10px;
    padding: 13px 30px;
}

.admin a:hover{
    box-shadow: 0px 4px 4px black;
}